<section class="home d-flex flex-column justify-content-between align-items-center gap-2">
  <%= image_tag "third.png", height: 400  %>
  <div class="w-100 text-center">
  <%= link_to "Log in", '/users/sign_in', class: "btn btn-dark w-50 mb-2" %>  
  <%= link_to "Sign up", '/users/sign_up', class: "btn btn-dark border border-dark w-50 mb-2"%>
  </div>
</section>